.unit-holder{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;
    height: auto;
}
.app-container{
    width: 100%; 
    height: 100%;
    background: linear-gradient(135deg, rgba(255,153,102, 0.5), rgba(255,94,98, 0.5));
}
.units-list-holder{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    height: calc(100% - 10px);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
}
.unit-avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.unit-splash{
    width: 100vw;
    height: 50vw;
}
@media (min-width: 600px){
    .units-list-holder{
        grid-template-columns: 1fr 1fr;
    }
    .unit-splash{
        width: 50vw;
        height: 22.5vw;
    }
}