.unit-holder{
    display: grid;
    grid-template-columns: 1fr;
}
.units-page{
    height: 100vh;
    background: linear-gradient(135deg, rgba(255,153,102, 0.5), rgba(255,94,98, 0.5));
}
.units-list-holder{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.unit-avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.unit-stats--holder{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
}
.unit-trait--holder{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 10px;
    right: 6px;
    top: 16px;
}
.trait-avatar--mini{
    height: 20px;
    border-radius: 50%;
    margin: 0px 10px -10px 10px;
    padding: 5px;
}
@media (min-width: 600px){
    .units-list-holder{
        grid-template-columns: 1fr 1fr;
    }
}