.trait-holder{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;
    height: auto;
}
.trait-unit--holder{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(50px, 1fr) );
    grid-template-rows: 50px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}
.trait-unit--icon{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.traits-page{
    /* background: linear-gradient(0deg, #36d1dc, #5b86e5);  */
    background: linear-gradient(0deg, rgba(54,209,220, 0.5), rgba(91,134,229, 0.5)); 
    /* height: 100%; */
}
.traits-list-holder{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    height: calc(100%);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
}
.trait-bonus--table > div{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(156, 156, 156);
}
.trait-bonus--table{
    display: grid;
    grid-template-rows: repeat( auto-fit, 1fr);
    grid-row-gap: 20px;
    grid-template-columns: 20px 1fr;
}
.trait-avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    box-sizing: border-box;
}
@media (min-width: 600px){
    .units-list-holder{
        grid-template-columns: 1fr 1fr;
    }
    .traits-list-holder{
        grid-template-columns: 1fr 1fr;
    }
    .unit-splash{
        width: 50vw;
        height: 22.5vw;
    }
}