a{
    text-decoration: none;
}
.home-selection{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 28px 30px 13px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}
a > .home-selection--button{
    color: #5d5d5d;
    transition: 200ms all;
}
.home-selection--button{
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 20px;
    transition: 200ms all;
}
.home-selection--avatar{
    border-radius: 50%;
    border: 5px solid #cfcfcf;
    height: calc(40vh - 100px);
    width: calc(40vh - 100px);
    margin: 5vh auto 3.5vh auto;
    transition: 200ms all;
}
.home-selection--button:hover, .home-selection--button:active{
    color: #151515;
}
.home-items--avatar{
    /* items image */
    background-image: url('http://ddragon.leagueoflegends.com/cdn/9.13.1/img/item/4401.png');
    filter: grayscale(90%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-items--button:hover, .home-items--button:active{
    box-shadow: 0px 0.5px 3px #581158;
    font-size: 40px;
}
.home-items--button:hover > .home-items--avatar,
.home-items--button:active > .home-items--avatar {
    border-color: #ff8aff;
    filter: grayscale(0%);
}
.home-units--avatar{
    /* units image */
    background-image: url('http://ddragon.leagueoflegends.com/cdn/9.11.1/img/champion/AurelionSol.png');
    filter: grayscale(90%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-units--button:hover, .home-units--button:active{
    box-shadow: 0px 0.5px 3px #5e4530;
    font-size: 40px;
}
.home-units--button:hover > .home-units--avatar,
.home-units--button:active > .home-units--avatar{
    border-color: #ffaa64;
    filter: grayscale(0%);
}

@media (min-width: 1200px){
    /* .home-selection{
        max-width: 1000px;
        padding: none;
        margin: 0 auto;
    } */
}
@media (min-aspect-ratio: 1/1){
    .home-selection{
        padding: 28px 30px 13px 30px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .home-selection--avatar{
        height: calc(35vw - 100px);
        width: calc(35vw - 100px);
    }
    .home-selection--button{
        font-size: 10vh;
    }
}