:root{
    --hex-width: 50px;
    --hex-height: 30px;
    --hex-color: #555555;
}
a{
    text-decoration: none;
}
.home-selection--updated{
    height: 100%;
    width: 100%;
    display: grid;
}
.home-item{
    box-sizing: border-box;
    padding-top: 0vh;
    height: 100%;
    transition: 200ms all;
}
.home-item:hover, .home-item:active{
    color: #efefef;
    --hex-color: #ededed;
}
.home-item--link{
    background-color: #7f00ff;
    background: radial-gradient(45deg, #7f00ff, #e100ff);
}
.home-trait--link{
    background-color: #5b86e5;
    background: linear-gradient(0deg, #36d1dc, #5b86e5); 
}
.home-unit--link{
    background-color: #ff5e62;
    background: linear-gradient(135deg, #ff9966, #ff5e62);
}
.loading-icon--holder{
    position: relative;
    transition: all 200ms;
    transform: perspective(600px) rotateX(55deg);
    padding-left: calc( 50vw - ( var(--hex-width) / 2 ) );
    z-index: 2;
}
.loading-icon--text{
    font-weight: bold;
    z-index: 5;
    font-size: 40px;
}
.loading-icon--hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: calc( var(--hex-height) / 2) solid var(--hex-color);
    border-left: calc( var(--hex-width) / 2 ) solid transparent;
    border-right: calc( var(--hex-width) / 2 ) solid transparent;
    position: absolute;
    transition: 200ms all;
    top: calc( var(--hex-height) / -2);
    
}
.loading-icon--hex {
    position: absolute;
    top: 150px;
    width: var(--hex-width);
    height: var(--hex-height);
    background-color: var(--hex-color);
    transition: 200ms all;
    box-shadow: 0px 0px 35px 15px rgba(55, 192, 255, 0.7),
                0 30px 35px -5px rgba(55, 192, 255, 0.7),
                0 60px 35px -18px rgba(55, 192, 255, 0.7),
                0 75px 35px -27px rgba(55, 192, 255, 0.7),
                0 -30px 35px -5px rgba(55, 192, 255, 0.7),
                0 -60px 35px -18px rgba(55, 192, 255, 0.7);

}
.loading-icon--hex:after {
    content: "";
    width: 0;
    position: absolute;
    transition: 200ms all;
    bottom: calc( var(--hex-height) / -2 );
    border-top: calc( var(--hex-height) / 2 ) solid var(--hex-color);
    border-left: calc( var(--hex-width) / 2 ) solid transparent;
    border-right: calc( var(--hex-width) / 2 ) solid transparent;
}
@media (max-aspect-ratio: 1/1){
    .home-selection--updated{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .loading-icon--text{
        padding-top: 8%;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: -23%;
        text-align: center;
        font-size: 40px;
        width: 100%;
    }
    .home-item:hover, .home-item:active{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-aspect-ratio: 1/1) and (min-height: 600px){
    :root{
        --hex-width: 70px;
        --hex-height: 40px;
    }
}
@media (max-aspect-ratio: 1/1) and (min-height: 700px){
    :root{
        --hex-width: 80px;
        --hex-height: 50px;
    }
    .loading-icon--text{
        padding-top: 10%;
        margin-bottom: -20%;
        font-size: 50px;
    }
}
@media (max-aspect-ratio: 1/1) and (min-height: 1000px){
    :root{
        --hex-width: 100px;
        --hex-height: 60px;
    }
    .loading-icon--text{
        padding-top: 10%;
        margin-bottom: -5%;
        font-size: 70px;
    }
}
@media (min-aspect-ratio: 1/1){
    .loading-icon--hex {
        left: calc( 50% - var(--hex-width)/2 );
    }
    .home-selection--updated{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .home-item{
        padding-top: 13vh;
        height: 100%;
        position: relative;
    }
    .home-item:hover, .home-item:active{
        padding-top: 18vh;
    }
    .loading-icon--text{
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin: 0 0 -40px calc(100vw / 6 - 12.5px);
        font-size: 20px;
    }
    .loading-icon--holder{
        padding: 0px;
        transform: perspective(600px) rotateX(65deg);
        z-index: 2;
    }
}
@media (min-aspect-ratio: 1/1) and (min-height: 400px) {
    :root{
        --hex-width: 80px;
        --hex-height: 50px;
    }
    .home-item{
        padding-top: 13vh;
    }
    .home-item:hover{
        padding-top: 17vh;
    }
    .loading-icon--text{
        margin: 0 0 -30px calc(100vw / 6 - 12.5px);
        font-size: 25px;
    }
}
@media (min-aspect-ratio: 1/1) and (min-height: 600px) {
    :root{
        --hex-width: 104px;
        --hex-height: 60px;
    }
    .home-item{
        padding-top: 20vh;
    }
    .home-item:hover{
        padding-top: 25vh;
    }
    .loading-icon--text{
        margin: 0 0 -30px calc(100vw / 6 - 15px);
        font-size: 30px;
    }
}
@media (min-aspect-ratio: 1/1) and (min-height: 750px){
    :root{
        --hex-width: 104px;
        --hex-height: 60px;
    }
    .home-item{
        padding-top: 20vh;
    }
    .home-item:hover{
        padding-top: 25vh;
    }
    .loading-icon--text{
        margin: 0 0 -30px calc(100vw / 6 - 25px);
        font-size: 40px;
    }
}