.unit-holder{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.units-list-holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    row-gap: 5;
    column-gap: 5;
    height: 100%;
}
.unit-avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.unit-splash{
    height: 150px;
}