body{
    font-family: 'Quicksand', sans-serif;
}
.not-jibber-jabber{
    height: calc(100vh - 45px);
}
.legal-jibber-jabber{
    height: 45px;
    font-size: 9px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}