.nav-search--holder{
    display: grid;
    grid-template-columns: 32px 1fr;
    margin-left: 100px;
}
.nav{
    background-color: transparent;
    margin: 0 auto;
    max-width: 1000px;
}
.nav-list--holder{
    width: 250px;   
    height: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-list--nested{
    margin-left: 10px;
}
.legal-jibber-jabber{
    margin-top: 50px;
    font-size: 11px;
    padding: 20px;
    text-align: justify;
}
#nested-list-subheader{
    background-color: white;
    font-weight: bold;
    font-size: 22px;
}